{% extends 'layout.twig' %}

{% block contents %}
    <h1>Slim4 Blog</h1>

    {% if post %}
        <h2>{{ post.title }}</h2>
        <hr>
        <p>{{ post.content }}</p>
    {% endif %}
{% endblock %}
